{% extends '_base.html' %}
{% load i18n %}

{% block page_title %}
    {% trans 'Edit Profile' %}
{% endblock %}

{% block content %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="تغییر ناوبری">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">{% translate 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'edit' %}" class="nav-link">{% trans 'Account' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Services' %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a href="{% url 'services' %}" class="dropdown-item"> {% trans 'start design' %}</a>
                        <a href="{% url 'projects' %}" class="dropdown-item">{% trans 'portfolio' %}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contactus' %}" class="nav-link">{% trans 'Contact Us' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'aboutus' %}" class="nav-link">{% trans 'About Us' %}</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link">
                                <i class="bi bi-box-arrow-right"></i>
                                {% trans 'Logout' %}
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-link ">
                            <i class="bi bi-box-arrow-in-right"></i>
                            {% trans 'Login' %}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">{% trans 'site name' %}</a>
    </nav>

    <div class="container account-container col-md-10 align-items-center">
        <form method="post" class="account-form">
            {% csrf_token %}
            <h2 class="fw-bold mt-3 mb-5">{% trans 'User information' %}</h2>
            {% for field in user_form %}
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-4  form-group">
                        <label class="" for="{{ field.id_for_label }}"></label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                            </div>
                        {% endif %}
                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <button type="submit" name="update_profile" class="col-md-4 btn account-btn mt-5">{% trans 'Save changes' %}</button>
            </div>
        </form>
        <hr>
        <form method="post" class="mt-5">
            {% csrf_token %}
            <h2 class="fw-bold text-center mt-3 mb-5"> {% trans 'Password' %}</h2>
            {% for field in password_form %}
                <div class="form-group row justify-content-center align-items-center">
                <div class="col-md-4  form-group">
                    <label for="{{ field.id_for_label }}"></label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <button type="submit" name="change_password" class="col-md-4 mt-5 btn account-btn">{% trans 'Change Password' %}
                </button>
            </div>
        </form>
    </div>



{% endblock %}
