{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}
    {% trans 'Password Reset' %}
{% endblock %}

{% block content %}
    <div class="container forget-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 px-2">
                <form method="post" class="py-4 px-4 forget-form">
                    {% csrf_token %}
                    <h4 class="fw-bold mb-4 mt-2">{% trans 'Password recovery' %}</h4>
                    <div class="col-md-8 mb-4 form-group">
                        <div class="field-wrapper">
                            {{ form|crispy }}
                        </div>
{#                        <div class="col-md-12 mt-2 form-group">#}
{#                            <input type="text" class="form-control" id="username" placeholder="ایمیل">#}
{#                        </div>#}
                    </div>
                    <button type="submit" class="col-md-8 btn signup-btn "
                            onclick="forgetBtn()">{% trans 'Submit' %}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer class="footer mt-5 py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-white-50">Copyright &copy;</div>
        </div>
    </footer>
    <script>
        function forgetBtn() {
            alert({% trans 'A recovery email has been sent to you.' %});
        }
    </script>

{% endblock %}